.body {
    width: 1368px;
    justify-content: space-between;

    &__content {
        padding-right: 48px;
    }

    &__point-btns {
        padding-top: 24px;
        padding-bottom: 40px;
    }

    .filter-label {
        border: 1px solid $black-primary-10;
        border-radius: 8px;
        color: $blue-primary;
        padding: 12px 18px;
        position: relative;
        margin-right: 8px;
        margin-bottom: 8px;
        cursor: pointer;
    }

    .product-filter-btn {
        display: none;

        &:checked + label {
            background: $blue-lighter;
            color: $black-primary;
            border: none;
        }
    }
}
