.header {
    padding: 32px 0 24px 0;

    &__kolesa-logo {
        margin-right: 64px;
        padding-top: 6px;
    }

    &__search-box {
        position: relative;
    }

    .search-box {
        background: rgba(242, 242, 243, 1);
        width: 308px;
        height: 44px;
        border: none;
        font-size: 16px;
        border-radius: 8px;
        text-indent: 56px;

        &:focus + label {
            display: none;
        }

        &:focus {
            text-indent: 10px;
        }
    }

    .mag-glass {
        position: absolute;
        border: none;
        background: none;
        left: 19px;
        top: 14px;
    }

    &__profile {
        margin-left: auto;
        padding-right: 50px;
        min-width: 150px;
    }

    .profile__pic {
        border-radius: 50%;
        width: 44px;
        height: 44px;
        margin-right: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .profile__name {
        color: $blue-primary;
        line-height: 24px;
    }

    .profile__balance {
        color: $black-primary;
        line-height: 20px;
    }
}
