@import './vars.scss';
@import './mixins.scss';
@import './blocks/btn.scss';
@import './blocks/imgs.scss';
@import './blocks/item-info.scss';
@import './blocks/balance.scss';
@import './blocks/filter-lable.scss';
@import './blocks/product-filter-btn.scss';

html,
body {
    height: 100%;
}

h3 {
    margin: 0;
    font-weight: 400;
}

/* Utility Classes */
.dl-flex {
    display: flex;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-24 {
    margin-bottom: 24px;
}

.fw-600 {
    font-weight: 600;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $background-gray;

    &__container {
        position: relative;
        background: $white;
        margin: 0 auto;
        min-width: 653px;
        display: flex;
        border-radius: 16px;
        padding: 56px;
    }

    &__item-info {
        margin: 8px 0 0 24px;
    }

    &__balance {
        position: absolute;
        right: 76px;
        top: 112px;
    }
}

.color__picker,
.size__picker {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.color__picker {
    .filter-label {
        position: relative;
        padding: 8px 12px 8px 39px;
        margin-right: 8px;
        margin-bottom: 8px;

        &::before {
            content: '';
            height: 24px;
            width: 23px;
            position: absolute;
            top: 7px;
            left: 8px;
            border-radius: 4px;
        }
    }

    .filter-label[for='color__blue']::before {
        background: #00458a;
    }

    .filter-label[for='color__beige']::before {
        background: #efe8d8;
    }

    .filter-label[for='color__gray']::before {
        background: #d4d4da;
    }
}

.size__picker {
    .filter-label {
        padding: 0;
        width: 40px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
}

.close-button {
    @include reset-btn;

    position: absolute;
    top: 30.67px;
    right: 30.67px;
}
