$black-primary: rgba(28, 24, 25, 1);
$black-primary-10: rgba(28, 24, 25, 0.1);
$blue-primary: rgba(42, 129, 221, 1);
$blue-lighter: #d6ecfb;
$gray: #888b94;
$white: #fff;
$red: #f33;
$payed-green: #eff8eb;
$payed-yellow: #fffae7;
$payed-blue:#e9f2fb;
$payed-green-hover: #eff8eb;
$payed-yellow-hover: #fffae7;
$payed-blue-hover:#e9f2fb;
$semi-bold: 600;
